body {
    font-family: "Lucida Console", monospace;
    background-color: black;
}

#gameIntro {
    display: flex;
    justify-content: center;
}

#gameCover {
    width: 1024px;
    height: 650px;
    background-image: url("./images/background-full.jpg");
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
}

#title {
    color: #00da00;
}

h1 {
    font-size: 1.6em;
    font-family: "Lucida Console", monospace;
    margin-top: 100px;
}

h4 {
    color: #00da00;
    font-size: 0.8em;
}

#elementsInfo {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 80px;
}

#elementsInfo img {
    width: 30px;
}

#timerDiv {
    position: absolute;
    top: 115px;
    right: 475px;  
    color: #48fb47;
}

#scoreDiv {
    position: absolute;
    top: 115px;
    right: 715px;    
    color: #48fb47;
}

#speachDiv {
    position: absolute;
    top: 280px;
    right: 575px;    
    color: #48fb47;
}


#gameCanvas {
    border: 1px solid black;
    background-image: url("./images/concrete-background.png");
}

#elementsInfo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#keys {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.keys-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
    margin-left: 80px;
}

.start-button{
    font-family: "Lucida Console", monospace;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: white;
    background-color: #d3cabf;
    box-shadow: -3px 3px #b6b6b6;
}

.play-keys {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 100px;
}

.play-keys button {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 1.4em;
    background-color: #d3cabf;
    color: white;
    box-shadow: -3px 3px #b6b6b6;
}

#gameBoard {
    text-align: center; 
}

#gameCanvas {
    border: 1px solid black;
    background-image: url("./images/background-full.jpg");
    border-radius: 50px;
}